<!doctype html>
<html lang="en">

<head>
   {{>headerLink}}
</head>

<body>
   {{>navbar}}
   <div class="container ">
      <div class="row">
         <div class="col-md-9 col-12 mx-auto  mt-5">
            <div class="row home">
             <div class="col-md-3 col-12 border border-warning">
               <h6 class="mt-2">Megna tempus sed amet aliquam veroros</h6>
               <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis vel placeat fuga dolores rerum ullam, asperiores expedita quasi aspernatur reiciendis! Perspiciatis consequatur consectetur voluptatibus incidunt enim. Sequi at repellat mollitia!
               </p>
               <button type="button" class="btn btn-primary ms-0 ">Primary</button>
             </div>
              <div class="col-md-3 col-12 border border-secondary-subtle ">
               <h6 class="mt-2">Megna tempus sed amet aliquam veroros</h6>
               <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis vel placeat fuga dolores rerum ullam, asperiores expedita quasi aspernatur reiciendis! Perspiciatis consequatur consectetur voluptatibus incidunt enim. Sequi at repellat mollitia!</p>
               <button type="button" class="btn btn-primary ms-0">Primary</button>
             </div>
              <div class="col-md-3 col-12 border border-success ">
               <h6 class="mt-2">Megna tempus sed amet aliquam veroros</h6>
               <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis vel placeat fuga dolores rerum ullam, asperiores expedita quasi aspernatur reiciendis! Perspiciatis consequatur consectetur voluptatibus incidunt enim. Sequi at repellat mollitia!</p>
                <button type="button" class="btn btn-primary ms-0">Primary</button>
             </div>
            </div>
         </div>
      </div>
   </div>
   {{>footer}}
</body>

</html>