<header
      style="background: url(https://c0.wallpaperflare.com/preview/582/743/816/stars-late-night-sky.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
      <div class="container-fluid main_menu">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <nav class="navbar navbar-expand-lg ">
                  <div class="container-fluid">
                     <a class="navbar-brand text-light" href="#">Jayant Techinical</a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto ">
                           <li class="nav-item ">
                              <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                           </li>
                           <li class="nav-item ">
                              <a class="nav-link text-light" href="/">Login</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link text-light" href="/register">Registration</a>
                           </li>

                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="te text-center text-white mt-5">
               <h1>Welcome to MERN Backend Course</h1>
               <p >The Best Course by Youtube</p>
            </div>
         </div>
      </div>

   </header>